{{#if productos.length}}
{{#each productos}}
<div class="card" style="width:17rem">
      <img src={{img}} class="card-img-top" height="50%" />
      <div class="card-body row justify-content-center">
            <h5 class="card-title text-center">{{name}}</h5>
            <p class="card-text text-center">${{precio}}</p>
            
      </div>
      <a href="#" class="btn btn-primary text-center my-2">Ver Detalle</a>
</div>

{{/each}}

{{else}}

<h2>El arreglo esta vacio</h2>

{{/if}}